*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 7500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sec1{
    width: 100%;
    height: 100vh;
    background-image: url(../images/مجموعة\ سيارات.jpg);
    background-size: cover;
    background-position: center;
}
.sec1-header{
    background-color: rgba(0, 0, 0,.6);
    width: 100%;
    height: 55px;
    position: relative;
    top: 0;
    position: fixed;
    z-index: 20;
}
.sec1-header-icon1{
    color: aliceblue;
    font-size: 23px;
    margin-top: 15px;
    margin-left: 30px;
}
.sec1-header-area{   
    margin-left: 80px; 
    margin-top: -26;
    position: relative;
}
.sec1-header-area-icon2{
    color: rgb(0, 0, 0);
    position: absolute;
    margin-top: 7px;
    margin-left: 10px;
}
.sec1-header-area-input{
    width: 280px;
    height: 30px;
    border-radius: 25px;
}
.sec1-header-links{
    list-style: none;
    float: right;
    word-spacing: 20px;
    margin-top: -25px;
    margin-right: 40px;
    font-size: 16px;
}
.sec1-header-links li {
    display: inline-block;
}
.sec1-header-links li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    padding-bottom: 7px;
}
.sec1-header-links-item{
    word-spacing: 1px;
}
.sec1-header-links li a::after{
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    opacity: 1;
    background-color: rgb(56, 119, 219);
}
.sec1-header-links li a:hover::after{
    width: 100%;
    opacity: 1;
    transition: .5s;
}
.sec1-tit1{
    width: 800px;
    background-color: rgba(0, 0, 0,.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
}
.sec1-tit1-h2{
    font-size: 60px;
    margin-bottom: 8px;
    color: #ffffff;
}
.sec1-tit1-p1{
    word-spacing: 4px;
    color: #F2F2F2;
    letter-spacing: 1px;
}
.sec1-tit1-but{
    margin-top: 15px;
    width: 130px;
    height: 55px;
    font-size: 20px;
    border-radius: 15px;
}
.sec1-tit1-but-1{
    background-color: #222222;
    color: #F2F2F2;
    margin-right: 5px;
}
.sec1-tit1-but-1:hover{
    opacity: .5;
}
.sec1-tit1-but-2:hover{
    opacity: .5;
}
.sec2{
    position: relative;
    height: 650px;
    /* background-color: aqua; */
}
.sec2-website-tit{
    text-align: center;
    margin-top: 80px;
}
.sec2-website-h3{
    font-size: 40px;
}
.sec2-website-p1{
    width: 90px;
    height: 3px;
    background-color: rgb(50, 107, 193);
    margin: auto;
    margin-top: 10px;
}
.sec2-website-container{
    /* background-color: #f35f5f; */
    width: 85%;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.sec2-website-div{
    width: 330px;
    height: 250px;
    border: 1px solid rgba(0, 0, 0,.6);
    float: left;
    margin: 0 40px 0 55px;
    border-radius: 10px;
    text-align: center;
    padding: 30px 0px;
    position: relative;
}
.sec2-website-icon1{
    font-size: 40px;
    margin-bottom: 23px;
    color: rgb(50, 107, 193);
}
.sec2-website-p2{
    font-size: 28px;
    margin-bottom: 18px;
}
.sec2-website-p3{
    color: rgb(107, 102, 102);
    margin-bottom: 30px;
}
.sec2-website-a1{
    text-decoration: none;
    color: rgb(50, 107, 193);
    font-size: 17px;
}
.sec2-website-div::after{
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    top: 0;
    left: 0;
    opacity: .4;
    background-color: rgb(50, 107, 193);
    z-index: -1;
}
.sec2-website-div:hover::after{
    width: 100%;
    height: 100%;
    opacity: .4;
    transition: .5s;
}
.sec2-website-div:hover .sec2-website-icon1{
    color: rgb(4, 86, 250);
}
.sec2-website-div:hover .sec2-website-p2{
    color: #ffffff;
}
.sec2-website-div:hover .sec2-website-p3{
    color: black;
}
.sec2-website-div:hover .sec2-website-a1{
     color: rgb(4, 86, 250);
}
.sec3{
    width: 100%;
    height: 860px;
    background-color: rgb(184, 190, 199);
}
.sec3-Featured-tit1{
    text-align: center;
    padding: 40px 0px;
    font-size: 30px;
    color: #ffffff;
}
.sec3-Featured-div-p1{
    width: 100px;
    height: 3px;
    background-color: #000000;
    margin: auto;
    margin-top: 15px;
}
.sec3-Featured-images{
    width: 80%;
    height: 600px;
    margin-left: 250px;
}
.sec3-Featured-div-img{
    position: relative;
    float: left;
    width: 290px;
    height: 260px;
    margin-right: 80px;
    margin-bottom: 40px;
}
.Featured-img{
    width: 290px;
    height: 260px;
    float: left;
    margin-right: 80px;
    margin-bottom: 40px;
    z-index: 1;
}
.sec3-Featured-div-p2{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 35px;
    margin-left: 60px;
    margin-top: 25px;
    visibility: hidden;
    z-index:3 ;
}
.sec3-Featured-div-img:hover .sec3-Featured-div-p2{ 
    visibility: visible;
}
.sec3-Featured-div-p3{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-left: 88px;
    margin-top: 95px;
    visibility: hidden;
    z-index: 3;
}
.Featured-p3{
    margin-left: 93px;
    font-size: 20px;
}
.Featured-p3-LUXURYSUV{
    margin-left: 90px;
    font-size: 20px;
}
.sec3-Featured-div-img:hover .sec3-Featured-div-p3{
    visibility: visible;
}
.sec3-Featured-div-icons{
    z-index: 4;
}
.sec3-Featured-div-icon1{
    background-color: #F2F2F2;
    width: 40px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    padding: 6px 0 0 0;
    margin-right: 3px;
    visibility: hidden;
}
.sec3-Featured-div-icons{
    position: absolute;
    margin-top: 150px;
    margin-left: 100px;
}
.sec3-Featured-div-img:hover .sec3-Featured-div-icon1{
    visibility: visible;
}
.sec3-Featured-div-img::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,.3);
    opacity: 0;
    z-index: 2;
}
.sec3-Featured-div-img:hover::after{
    opacity: 1;
}
.sec4-offer{
    width: 100%;
    height: 800px;
    position: relative;
    /* background-color: rgb(184, 100, 100); */
    z-index: 1;
}
.sec4-offer-tit1{
    text-align: center;
    padding: 100px 0px;
    font-size: 40px;
}
.sec4-offer-tit1-p1{
    width: 100px;
    height: 3px;
    background-color:  rgb(50, 107, 193);
    margin: auto;
    margin-top: 15px;  
}
.sec4-offer-container{
    margin-top: 100px;
    width: 90%;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    /* background-color: aqua; */
    z-index: 1;
}
.sec4-offer-container-div{
    width: 330px;
    height: 220px;
    border: 1px solid rgba(0, 0, 0,.6);
    float: left;
    margin-left: 80px;
    margin-right: 40px;
    border-radius: 10px;
    margin-bottom: 50px;
    position: relative;
    padding-left: 50px;
    z-index: 1;
}
.sec4-offer-container-div-icon{
    font-size: 35px;
    color: rgb(50, 107, 193);
    margin-top: 30px;
    margin-left: -45px;
    position: absolute;
}
.sec4-offer-container-div-h3{
    position: absolute;
    display: inline;
    font-size: 30px;
    z-index: 4;
    margin-top: 35px;
}
.sec4-offer-container-div-p2{
    position: absolute;
    margin-top: 20px;
    color: rgb(107, 102, 102);
    z-index: 5;
    margin-top: 100px;
}
.offer-p1{
    margin-top: 110px;
}
.offer-p3{
    margin-top: 110px;
}
.offer-p6{
    margin-top: 110px;
}
.sec4-offer-container-div::after{
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    top: 0;
    left: 0;
    background-color: rgb(50, 107, 193);
    opacity: .5;
    z-index: 2;
}
.sec4-offer-container-div:hover::after{
    width: 100%;
    height: 100%;
    opacity: .5;
    transition: 1s;
}
.sec4-offer-container-div:hover .sec4-offer-container-div-p2{
    color: #000000;
}
.sec4-offer-container-div:hover .sec4-offer-container-div-icon{
    color:  rgb(35, 113, 229);
    z-index: 6;
}
.sec4-offer-container-div:hover  .sec4-offer-container-div-h3{
    color: #ffffff;
}
.sec5-choose{
    width: 1500px;
    height: 600px;
    /* background-color: #d27272; */
    margin-top: 85px;
    margin-left: 100px;
    position: relative;
}
.sec5-choose-tit1{
    margin-left: 100px;
}
.sec5-choose-tit1-h3{
    font-size: 35px;
}
.sec5-choose-tit1-p1{
    width: 65px;
    height: 3px;
    background-color:  rgb(50, 107, 193);
    margin-top: 10px;    
}
.sec5-choose-list{
    margin-left: 100px;
    margin-top: 30px;
}
.sec5-choose-list-p1{
    color: rgb(184, 180, 180);
    margin-bottom: 10px;
}
.sec5-choose-list-p1-p1{
    color: rgb(184, 180, 180);
    margin-top: -10px;
    margin-bottom: 50px;
}
.sec5-choose-list-icon{
    color:rgb(50, 107, 193);
    margin-bottom: 50px;
    font-size: 20px;
    margin-top: -20px;
}
.sec5-choose-list-p2{
    margin-left: 22px;
    margin-top: -5px;
    color: rgb(120, 117, 117);
}
.sec5-choose-list-Picture{
    background-image: url(../images/collection\ car.jpg);
    width: 400px;
    height: 500px;
    /* background-color: #b7bf22; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    margin-left: 800px;
    margin-top: -490px;
}
.sec5-choose-list-Picture-icons{
    margin-left: 120px;
    margin-top: 505px;
}
.sec5-choose-list-Picture-spans-p1{
    width: 15px;
    height:16px;
    background-color: rgb(120, 117, 117);
    margin-left: 20px;
    border-radius: 50%;
    float: left;
}
.blue{
    background-color:rgb(50, 107, 193);
}
.sec6-state{
    width: 100%;
    height: 400px;
    background-color: #000000;
    margin-top: 100px;
    background-image: url(../images/cars8.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.sec6-state-background{
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0,.5);
}
.sec6-state-icons{
    /* background-color: #F2F2F2; */
    width: 100%;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.sec6-state-icons-icon1{
    color:rgb(80, 133, 214);
    font-size: 50px;
    margin-right: 250px;
}
.state-icon1{
    margin-left: 250px;
}
.sec6-state-Words{
    width: 100%;
    height: 80px;
    /* background-color: #c35858; */
    position: absolute;
    left: 60%;
    top: 60%;
    transform: translate(-60%,-60%);
}
.words-div{
    float: left;
    margin-top: 30px;
    margin-right: 200px;
    text-align: center;
}
.words-p{
     color: #ffffff;
     font-size: 20px;
}
.sec6-state-words-p1{
    margin-left: 220px;
}
.sec6-state-words-p4{
    margin-left: -15px;
}
.sec6-state-words-p3{
    margin-left: 10px;
}
.sec7-Service{
    width: 100%;
    height: 650px;
    /* background-color: #000000; */
    margin-top: 100px;
    position: relative;
}
.sec7-Service-tit1-h3{
    text-align: center;
    padding: 50px 0px;
    font-size: 40px;
}
.sec7-Service-tit1-p1{
    width: 100px;
    height: 3px;
    background-color:  rgb(50, 107, 193);
    margin: auto;
    margin-top: -40px;  
}
.sec7-Service-container{
    margin-top: 60px;
    width: 95%;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    /* background-color: aqua; */
    margin-top: 80px;
    z-index: 1;
}
.Service-container-div{
    width: 340px;
    height: 390px;
    border: 1px solid rgba(0, 0, 0,.6);
    float: left;
    margin-left: 80px;
    margin-right: 40px;
    border-radius: 10px;
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
}
.Service-container-div::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    background-color: rgb(50, 107, 193);
    opacity: .5;
    z-index: -2;
}
.Service-container-div:hover::after{
    height: 100%;
    opacity: .5;
    transition: .5s;
}
.Service-container-h3{
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    z-index: 5;
}
.Service-container-p1{
    width: 110px;
    height: 110px;
    border: 1px rgb(50, 107, 193) solid;
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
    padding: 25px 0 0 0;
    margin-bottom: 20px;
    z-index: 6;
}
.Service-container-span1{
    margin-left: 23px;
    font-size: 35px;
}
.Service-container-span2{
    margin-left: 30px;
}
.Service-container-p2{
    text-align: center;
    margin-bottom: 20px;
}
.Service-container-but{
   margin-left: 80px;
   width: 190px;
   height: 30px;
   border: 2px solid rgb(50, 107, 193);
   border-radius: 10px;
}
.Service-span3{
    margin-left: 15px;
}
.Service-container-div:hover  .Service-container-h3{
    color:rgb(0, 77, 193) ;
}
.Service-container-div:hover   .Service-container-p1{
    border: 2px rgb(0, 72, 205) solid;
}
.sec8-support{
    width: 100%;
    height: 430px;
    background-color: #000000;
    margin-top: 100px;
    background-image: url(../images/support.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.sec8-support-background{
    width: 100%;
    height: 430px;
    background-color: rgba(0, 0, 0,.5);
}
.sec8-support-div1{
    margin-left: -50px;
}
.support-div1-img1{
    border-radius: 50%;
    margin: 140px 0px 0px 300px ;
}
.support-div1-h3{
    color: #ffffff;
    font-size: 35px;
     margin: -90px 0px 0px 440px ;
}
.support-div1-p1{
    color: rgb(152, 193, 255);
    font-size: 22px;
     margin: 10px 0px 0px 440px ;
}
.support-div1-p2{
    color: #d1d1d1;
    margin: 0px 0px 0px 300px ;
}
.sec8-p2{
    margin-top: 25px
}
.sec8-support-div2{
    margin-top: -310px;
    margin-left: 600px;
}
/* ////////////////////////////////////////////////////////// */
.sec9-Team{
    width: 100%;
    height: 700px;
    /* background-color: aqua; */
    margin-top: 100px;
    position: relative;
}
.Team-tit1-h3{
    text-align: center;
    padding: 50px 0px;
    font-size: 40px;
}
.Team-tit1-p1{
    width: 90px;
    height: 3px;
    background-color:  rgb(50, 107, 193);
    margin: auto;
    margin-top: -40px;  
}
.sec9-Team-container{
    width: 95%;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    /* background-color: rgb(0, 0, 0); */
    margin-top: 70px;
    z-index: 1;
}
.Team-container-div{
    width: 340px;
    height: 330px;
    float: left;
    margin-left: 80px;
    margin-right: 40px;
    border-radius: 10px;
    background-color: #BFC2C7;
    position: relative;
    float: left;
}
.Team-container-div::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    background-color: rgb(50, 107, 193);
    opacity: .5;
    z-index: 1;
}
.Team-container-div:hover::after{
    width: 100%;
    height: 100%;
    opacity: .5;
    transition: .5s;
}
.Team-container-div1-img1{
    background-color: rgb(205, 85, 85);
    width: 280px;
    height: 220px;
    margin: 20px 0 0 30px;
    position: absolute;
    z-index: 5;
}
.Team-img1{
    width: 280px;
    height: 220px;
}
.Team-container-div1-icon{
    /* background-color: blueviolet; */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.Team-container-div1-icon a{
    display: block;
    width: 40px;
    height: 40px;
    color: rgb(219, 228, 237);
    background-color: rgb(36, 133, 178);
    margin-left: auto;
    text-align: center;
    visibility: hidden;
}
.Team-container-div1-icon a i{
    line-height: 40px;
}
.Team-container-div:hover a{
    visibility: visible;
}
.Team-container-div2-p{
    position: absolute;
    z-index: 7;
    margin: 250px 0 0 70px;
    text-align: center;
}
.Team-container-div2-p h3{
    margin-bottom: 10px;
    font-size: 25px;
}
.Team-container-div2-p p{
    color: #53555c;
    font-size: 20px;
}
.Team-container-div:hover h3{
    color: white;
}
.Team-container-div:hover p{
    color: #000000;
}
.div2-Picture2{
    margin: 250px 0 0 85px;
}
.div2-Picture2-p{
    margin-left: 10px;
}
/* ////////////////////////////////////// */
.sec10-News{
    width: 100%;
    height: 800px;
    /* background-color: aqua; */
    position: relative;
}
.News-tit1-h3{
    text-align: center;
    padding: 50px 0px;
    font-size: 40px;
}
.News-tit1-p1{
    width: 90px;
    height: 3px;
    background-color:  rgb(50, 107, 193);
    margin: auto;
    margin-top: -40px;
}
.sec10-News-container{
    width: 97%;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    /* background-color: rgb(0, 0, 0); */
    margin-top: -20px;
    z-index: 1;
}
.News-container-div{
    width: 360px;
    height: 500px;
    float: left;
    margin: 80px 40px 0 80px;
    border-radius: 10px;
    border: 1px rgb(50, 107, 193) solid;
    position: relative;
    float: left;
}
.News-container-div::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    background-color: rgb(50, 107, 193);
    opacity: .5;
    z-index: -2;
}
.News-container-div:hover::after{
    width: 100%;
    height: 100%;
    opacity: .5;
    transition: .5s;
}
.News-container-div1-img{
    background-color: rgb(205, 85, 85);
    width: 250px;
    height: 250px;
    margin: 20px 0 0 50px;
    border-radius: 10px;
    position: absolute;
}
.News-img1{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}
.News-container-div1-icon{
    width: 260px;
    height: 30px;
    /* background-color: rgb(158, 158, 217); */
    margin: 290px 0 0 55px;
}
.News-icon{
    color: rgb(46, 141, 186);
    font-size: 20px;
}
.News-icon-span{
    margin-right: 20px;
}
.News-container-div2-p{
    text-align: center;
    margin-top: 10px;
    position: absolute;
    z-index: 5;
}
.News-container-div2-p p{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #53555c;
}
.News-container-div2-p a{
    text-decoration: none;
    color:rgb(40, 99, 166) ;
}
.News-container-div:hover .News-container-div2-p h3{
    color: #ffffff;
}
.News-container-div:hover .News-container-div2-p p{
    color:rgb(0, 0, 0) ;
}
/* ////////////========================////////////////// */
.sec11-limit{
    background-color:#bfc0c4;
    width: 100%;
    height: 350px;
}
.limit-img1{
    width: 270px;
    height: 240px;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    margin: 20px 0 0 620px;
}
.sec11-limit-icon{
    text-align: center;
    margin-top: 15px;
}
.sec11-limit-icon i{
    background-color: rgb(82, 136, 197);
    color: aliceblue;
    width: 55px;
    height: 55px;
    font-size: 30px;
    line-height: 55px;
    border-radius: 50%;
}
.sec11-limit-icon i:hover{
    background-color:rgb(31, 93, 163) ;
}
